.lp-about {
  padding-top: 90px;
  padding-bottom: 60px;
  position: relative;
  z-index: 10;
  &-row {
    display: flex;
    flex-direction: row;
    @media screen and (max-width: 1100px) {
      &  {
        flex-wrap: wrap;
      }
    }
    &-item {
      &__title {
        font-family: 'Kurale', serif;
        color: $secondColor;
        font-size: 42px;
        margin-bottom: 20px;
        text-align: center;
      }
      &__text {
        font-size: 16px;
        color: $secondColor;
        font-family: 'PT Sans Caption',sans-serif;
        margin-bottom: 20px;
        line-height: 18px;
        &_bold {
          font-weight: bold;
        }
      }
      &-info {
        width: 45%;
        padding-left: 40px;
        @media screen and (max-width: 1100px) {
          & {
            width: 100%;
            padding-left: 0;
          }
        }
      }
      &-movie {
        width: 45%;
        padding-right: 40px;
        @media screen and (max-width: 1100px) {
          & {
            width: 100%;
            padding-right: 0;
            padding-bottom: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
      &-instagram {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        &__icon {
          margin-right: 10px;
        }
        &__hashtag {
          color: $secondColor;
          font-family: 'PT Sans Caption',sans-serif;
          font-weight: bold;
          font-size: 24px;
        }
      }
    }
  }
}
