.lp-about {
  padding-top: 90px;
  padding-bottom: 60px;
  &-row {
    display: flex;
    flex-direction: row;
    &-item {
      &__title {
        font-family: 'Kurale', serif;
        color: $secondColor;
        font-size: 42px;
        margin-bottom: 20px;
        text-align: center;
      }
      &__text {
        font-size: 16px;
        color: $secondColor;
        font-family: 'PT Sans Caption',sans-serif;
        margin-bottom: 20px;
        line-height: 18px;
        &_bold {
          font-weight: bold;
        }
      }
      &-info {
        width: 45%;
        padding-left: 40px;
      }
      &-movie {
        width: 45%;
        padding-right: 40px;
      }
      &-instagram {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        &__icon {
          margin-right: 10px;
        }
        &__hashtag {
          color: $secondColor;
          font-family: 'PT Sans Caption',sans-serif;
          font-weight: bold;
          font-size: 24px;
        }
      }
    }
  }
}
