.lp-banner {
  width: 100%;
  background: url(../img/mainbg.jpg)no-repeat;
  min-height: 750px;
  height: 100%;
  background-size: 100%;
  position: relative;
  z-index: 11;
  font-family: 'Kurale', serif;
  &-text {
    display: flex;
    align-items: flex-end;
    min-height: 670px;
    max-width: 818px;
    margin: 0 auto 60px;
    &__info {
      font-size: 30px;
      text-align: center;
      color: $mainColor;
      line-height: 35px;
    }
  }
}
