.lp-banner {
  width: 100%;
  background: url(../img/mainbg.jpg);
  min-height: 680px;
  height: 100%;
  background-size: 100% 100%;
  font-family: 'Kurale', serif;
  &-text {
    padding-top: 500px;
    &__info {
      font-size: 30px;
      text-align: center;
      color: $mainColor;
      max-width: 930px;
      margin: 0 auto 5px;
    }
  }
}
