@font-face {
  font-family: 'PTSans Caption';
  src: url('../fonts/PTSans-Caption.eot');
  src: url('../fonts/PTSans-Caption.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PTSans-Caption.woff2') format('woff2'),
  url('../fonts/PTSans-Caption.woff') format('woff'),
  url('../fonts/PTSans-Caption.ttf') format('truetype')
}

@import url("https://fonts.googleapis.com/css?family=Kurale&display=swap");
