.lp-form {
  width: 100%;
  background: url(../img/formbg.jpg)no-repeat;
  min-height: 802px;
  padding-top: 80px;
  &__title {

  }
  &-row {
    padding-top: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: $mainColor;
    &__text {
      width: 60%;
      &-title {
        font-size: 26px;
        line-height: 28px;
        margin-bottom: 30px;
      }
      &-list {
        font-size: 28px;
        line-height: 28px;
      }
      &-item {
        font-size: 28px;
        margin-bottom: 30px;
      }
    }
  }
}
