.lp-form {
  width: 100%;
  background: url(../img/formbg.jpg)no-repeat;
  min-height: 802px;
  padding-top: 80px;
  &-order {
    @Media screen and (max-width: 1023px) {
      & {
        margin-left: 0 !important;
        padding-top: 50px;
      }
    }
  }
  @media screen and (max-width: 1023px) {
    background-size: cover;
    padding-bottom: 60px;
  }
  &-row {
    padding-top: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: $mainColor;
    @media screen and (max-width: 1023px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__text {
      width: 60%;
      @media screen and (max-width: 1023px) {
        text-align: center;
        padding-bottom: 20px;
        width: 100%;
      }
      &-title {
        font-size: 26px;
        line-height: 28px;
        margin-bottom: 30px;
        @media screen and (max-width: 1023px) {
          font-size: 22px;
          line-height: 20px;
          margin-bottom: 10px;
        }
      }
      &-list {
        font-size: 28px;
        line-height: 28px;
      }
      &-item {
        font-size: 28px;
        margin-bottom: 30px;
        @media screen and (max-width: 1023px) {
          font-size: 20px;
          line-height: 24px;
          margin-bottom: 10px;
        }
      }
    }
  }
}
