.lp-form {
  width: 100%;
  background: url(../img/formbg.jpg)no-repeat;
  min-height: 802px;
  padding-top: 80px;
  &__title {

  }
  &-row {
    padding-top: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: $mainColor;
    &__text {
      width: 60%;
      &-title {
        font-size: 26px;
        line-height: 28px;
        margin-bottom: 30px;
      }
      &-list {
        font-size: 28px;
        line-height: 28px;
      }
      &-item {
        font-size: 28px;
        margin-bottom: 30px;
      }
    }
    &__form {
      margin-left: 70px;
      width: 40%;
      max-width: 360px;
      border-radius: 10px;
      background: $mainColor;
      padding: 45px 26px 60px;
      color: $portfolioHoverBg;
      &-text {
        font-size: 26px;
        text-align: center;
        margin-bottom: 30px;
      }
      &-input {
        width: 100%;
        height: 39px;
        display: block;
        margin-bottom: 15px;
        padding-left: 35px;
        border-radius: 5px;
        outline: none;
        border: 1px solid gray;
      }
      &-name, &-phone {
        position: relative;
      }
      &-icon {
        &_phone, &_user {
          position: absolute;
          pointer-events: none;
          left: 12px;
          top: 12px;
          color: gray;
        }
      }
      &-submit {
        background: $portfolioHoverBg;
        width: 100%;
        height: 46px;
        padding: 0 10px;
        border-radius: 20px;
        font-size: 22px;
        color: $mainColor;
        margin-top: 25px;
      }
    }
  }
}
