.lp-header {
  background: url(../img/headerbg.jpg);
  background-size: 100%;
  width: 100%;
  height: 70px;
  z-index: 12;
  position: relative;
    &-row {
      display: flex;
      justify-content: flex-start;
      &-item {
        width: 45%;
        padding-top: 10px;
        @media screen and (max-width: 1023px) {
          & {
            width: 50%;
          }
        }
        &-info {
          font-size: 16px;
          padding-top: 5px;
          @media screen and (max-width: 1200px) {
            & {
              display: none;
            }
          }
          &__title {
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: 8px;
          }
          &__desc {

          }
        }
        &-logo {
          width: 10%;
          @media screen and (max-width: 1199px) {
            & {
              width: 15%;
              order: 3;
            }
          }
          @media screen and (max-width: 1023px) {
            & {
              display: none;
            }
          }
          &__img {
              max-width: 150px;
              height: auto;
          }
        }
        &-phones {
          position: relative;
          font-size: 20px;
          padding-left: 130px;
          padding-top: 3px;
          @media screen and (max-width: 1023px) {
            & {
              padding-left: 0;
            }
          }
          @media screen and (max-width: 700px) {
            & {
              display: none;
            }
          }
          &:after {
            position: absolute;
            width: 20px;
            height: 20px;
            content: "\f095";
            font-size: 27px;
            top: 13px;
            left: 95px;
            font-family: 'FontAwesome',sans-serif;
            @media screen and (max-width: 1023px) {
              & {
                left: -35px;
              }
            }
          }
          &__tel {
            &-link {
              text-decoration: none;
              color: white;
              margin-bottom: 5px;
              display: block;
            }
          }
        }
        &-order {
          padding-left: 30px;
          padding-top: 10px;
          height: 70px;
          @media screen and (max-width: 374px) {
            & {
              padding-left: 0;
            }
          }
          &__btn {
            @media screen and (max-width: 359px) {
              & {
                font-size: 17px;
              }
            }
          }
        }
        &-third {
          display: flex;
          flex-direction: row;
          @media screen and (max-width: 1199px) {
            & {
              width: 100%;
            }
          }
          @media screen and (max-width: 1023px) {
            & {
              display: flex;
              justify-content: center;
            }
          }
          @media screen and (max-width: 700px) {
            & {
              justify-content: flex-end;
            }
          }
        }
        &-menu {
          border-radius: 100%;
          width: 50px;
          height: 50px;
          border: 1px solid white;
          cursor: pointer;
          &__line {
            width: 28px;
            height: 4px;
            background: white;
            position: relative;
            top: 22px;
            left: 10px;
            &:after {
              width: 28px;
              height: 4px;
              background: white;
              position: absolute;
              content: '';
              top: -10px;
            }
            &:before {
              width: 28px;
              height: 4px;
              background: white;
              position: absolute;
              content: '';
              top: 10px;
            }
            &.open {
              transform: rotate(45deg);
              &:after {
                display: none;
              }
              &:before {
                transform: rotate(-90deg);
                top: 1px;
              }
            }
          }
        }
        &__first {
          display: flex;
          flex-direction: row;
        }
        &__text {
          font-size: 18px;
          padding-top: 16px;
          padding-left: 18px;
          padding-right: 18px;
          max-width: 180px;
          position: relative;
        }
        &__nav {
          position: absolute;
          opacity: 0;
          transition: all .5s ease-in;
          left: -50px;
          top: 66px;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          pointer-events: none;
          &-link {
            text-decoration: none;
            display: flex;
            background: $mainColor;
            transition: all .4s ease-in;
            box-sizing: border-box;
            height: 51px;
            padding: 0 20px;
            justify-content: flex-start;
            align-items: center;
            min-width: 220px;
            font-size: 16px;
            width: 100%;
            color: $portfolioHoverBg;
            border-bottom: 1px solid $portfolioHoverBg;
            &:hover {
              background: $portfolioHoverBg;
              color: $mainColor;
            }
          }
        }
      }
    }
}



