.lp-portfolio {
  padding-top: 70px;
  width: 100%;
  background: url(../img/portfolio.jpg)no-repeat;
  padding-bottom: 60px;
  background-size: cover;
  &__container {
    max-width: 975px;
    margin: 0 auto;
    @media screen and (max-width: 1000px) {
      & {
        max-width: 100%;
      }
    }
  }
  &__title {
    color: #00644b;
    font-size: 42px;
    font-family: 'Kurale', serif;
    text-align: center;
  }
  &-grid {
    margin-top: 30px;
    display: grid;
    grid-column-gap: 0;
    grid-template-columns: repeat(8,1fr);
    grid-auto-rows: minmax(115px,1fr);
    @media screen and (max-width: 767px) {
      & {
        display: block;
      }
    }
    &__item {
      height: 230px;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      @media screen and (max-width: 767px) {
        & {
          margin-bottom: 20px;
          padding: 0 5px;
        }
      }
      &-info {
        opacity: 0;
        background: $portfolioHoverBg;
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: right;
        padding: 15px 45px 15px 0;
        transition: opacity .5s ease-in;
        z-index: 10;
      }
      &-icon {
        position: absolute;
        right: 8px;
        width: 27px;
        height: 27px;
        background: $portfolioHoverBg;
        border-radius: 100%;
        border: 1px solid #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 11;
        bottom: 8px;
        font-size: 18px;
      }
      &-img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
      &_first {
        grid-column: 1 / 5;
      }
      &_second {
        grid-column: 5 / 7;
        @media screen and (max-width: 1023px) {
          & {
              grid-column: 5 / 9;
          }
        }
      }
      &_third {
        grid-column: 7 / 9;
        @media screen and (max-width: 1023px) {
          & {
            grid-column: 1 / 5;
          }
        }
      }
      &_fifth {
        grid-column: 1 / 3;
        @media screen and (max-width: 1023px) {
          & {
            grid-column: 5 / 9;
          }
        }
      }
      &_sixth {
        grid-column: 3 / 7;
        @media screen and (max-width: 1023px) {
          & {
            grid-column: 1 / 5;
          }
        }
      }
      &_seventh {
        grid-column: 7 / 9;
        grid-row: 2 / 4;
        height: 460px;
        @media screen and (max-width: 1023px) {
          & {
            display: none;
          }
        }
      }
      &_eighth {
        grid-column: 1 / 5;
        @media screen and (max-width: 1023px) {
          & {
            grid-column: 5 / 9;
          }
        }
      }
      &_nineth {
        grid-column: 5 / 7;
        @media screen and (max-width: 1023px) {
          & {
            grid-column: 1 / 5;
          }
        }
      }
      &_tenth {
        grid-column: 1 / 5;
        @media screen and (max-width: 1023px) {
          & {
            grid-column: 5 / 9;
          }
        }
      }
      &_eleventh {
        grid-column: 5 / 7;
        @media screen and (max-width: 1023px) {
          & {
            grid-column: 1 / 5;
          }
        }
      }
      &_twelfth {
        grid-column: 7 / 9;
        @media screen and (max-width: 1023px) {
          & {
            grid-column: 5 / 9;
          }
        }
      }
      &:hover &-info {
        opacity: 1;
      }
    }
  }
  &__social {
    padding-top: 20px;
    font-family: "PTSans Caption",sans-serif;
    color: $portfolioHoverBg;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 767px) {
      & {
        flex-direction: column;
      }
    }
    &_bold {
      font-weight: bold;
      text-decoration: none;
      color: $portfolioHoverBg;
      transition: all .4s ease-in;
      &:hover {
        color: #00634A;
      }
    }
    &-img {
      margin-left: 7px;
      margin-right: 8px;
      @media screen and (max-width: 767px) {
        & {
          margin-top: 10px;
          margin-bottom: 10px;
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
  }
}
