.lp-service {
  width: 100%;
  background: url(../img/servicebg.jpg)no-repeat;
  background-size: cover;
  min-height: 800px;
  color: $mainColor;
  padding-top: 60px;
  padding-bottom: 60px;
  &-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    &__item {
      width: 40%;
      height: 200px;
      @media screen and (max-width: 1200px) {
        & {
          width: 50%;
        }
      }
      @media screen and (max-width: 1023px) {
        & {
          width: 100%;
        }
      }
      @media screen and (max-width: 767px) {
        & {
          text-align: center;
          height: auto;
        }
      }
      &-title {
        font-size: 24px;
        margin-bottom: 10px;
      }
      &-text {
        font-size: 17px;
        padding-right: 22px;
        @media screen and (max-width: 767px) {
           & {
             padding-right: 0;
           }
        }
      }
      &_center {
        width: 33%;
        height: 200px;
      }
      &_ogranization {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        width: 230px;
        position: relative;
        @media screen and (max-width: 1023px) {
          & {
            max-width: 550px;
            width: 100%;
            margin: 50px auto 0;
            justify-content: center;
          }
        }
        &:before {
          position: absolute;
          content: '';
          left: -187px;
          width: 165px;
          height: 165px;
          background: url(../img/service1.png);
          @media screen and (max-width: 767px) {
            & {
              display: none;
            }
          }
        }
      }
      &_master {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        width: 230px;
        position: relative;
        @media screen and (max-width: 1023px) {
          & {
            max-width: 550px;
            width: 100%;
            margin: 50px auto 0;
            justify-content: center;
          }
        }
        &:before {
          position: absolute;
          content: '';
          left: -187px;
          width: 165px;
          height: 165px;
          background: url(../img/service2.png);
          @media screen and (max-width: 767px) {
            & {
              display: none;
            }
          }
        }
      }
      &_photographer {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        width: 230px;
        position: relative;
        @media screen and (max-width: 1023px) {
          & {
            max-width: 550px;
            width: 100%;
            margin: 50px auto 0;
            justify-content: center;
          }
        }
        &:before {
          position: absolute;
          content: '';
          left: -177px;
          width: 165px;
          height: 165px;
          background: url(../img/service3.png);
          @media screen and (max-width: 767px) {
            & {
              display: none;
            }
          }
        }
      }
      &_decor {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        width: 230px;
        position: relative;
        @media screen and (max-width: 1023px) {
          & {
            max-width: 550px;
            width: 100%;
            margin: 50px auto 0;
            justify-content: center;
          }
        }
        &:before {
          position: absolute;
          content: '';
          left: -177px;
          width: 165px;
          height: 165px;
          background: url(../img/service4.png);
          @media screen and (max-width: 767px) {
            & {
              display: none;
            }
          }
        }
      }
      &_banket {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        width: 230px;
        position: relative;
        @media screen and (max-width: 1023px) {
          & {
            max-width: 550px;
            width: 100%;
            margin: 50px auto 0;
            justify-content: center;
          }
        }
        &:before {
          position: absolute;
          content: '';
          left: -177px;
          width: 165px;
          height: 165px;
          background: url(../img/service5.png);
          @media screen and (max-width: 767px) {
            & {
              display: none;
            }
          }
        }
      }
      &_sign {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        width: 230px;
        position: relative;
        @media screen and (max-width: 1023px) {
          & {
            max-width: 550px;
            width: 100%;
            margin: 50px auto 0;
            justify-content: center;
          }
        }
        &:before {
          position: absolute;
          content: '';
          left: -187px;
          width: 165px;
          height: 165px;
          background: url(../img/service6.png);
          @media screen and (max-width: 767px) {
            & {
              display: none;
            }
          }
        }
      }
      &_artist {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        width: 230px;
        position: relative;
        @media screen and (max-width: 1023px) {
          & {
            max-width: 550px;
            width: 100%;
            margin: 50px auto 0;
            justify-content: center;
          }
        }
        &:before {
          position: absolute;
          content: '';
          left: -187px;
          width: 165px;
          height: 165px;
          background: url(../img/service7.png);
          @media screen and (max-width: 767px) {
            & {
              display: none;
            }
          }
        }
      }
    }
  }
}
