.lp-team {
  width: 100%;
  background: url(../img/teambg.jpg)no-repeat;
  padding-bottom: 65px;
  height: 1118px;
  overflow: hidden;
  padding-top: 80px;
  position: relative;
  z-index: 9;
  margin-top: -20px;
  @media screen and (max-width: 1023px) {
    & {
      background-size: cover;
      height: auto;
    }
  }
  &__title {
    color: $portfolioHoverBg;
    padding-top: 46px;
  }
  &__bg {
    background: url(../img/line-bg-2.png)no-repeat;
    min-height: 1134px;
    margin-top: -66px;
    @media screen and (max-width: 1023px) {
      & {
        background: none;
      }
    }
  }
  &-leader {
    padding-left: 200px;
    display: flex;
    flex-direction: row;
    font-family: 'PTSans Caption',sans-serif;
    color: $portfolioHoverBg;
    @media screen and (max-width: 1023px) {
      & {
        padding-left: 0;
        padding-top: 30px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
    }
    &__info {
      padding-top: 35px;
      padding-left: 25px;
      max-width: 460px;
      width: 100%;
      @media screen and (max-width: 1023px) {
        & {
          padding: 20px 20px 20px 40px;
          max-width: 400px;
        }
      }
      &-fio {
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 15px;
      }
      &-seo {
        margin-bottom: 10px;
      }
      &-desc {
        margin-top: 20px;
        font-style: italic;
      }
    }
    &-bg {
      &__lead {
        background: url(../img/leader.jpg);
        width: 270px;
        height: 270px;
        border-radius: 100%;
        border: 2px solid $portfolioHoverBg;
        overflow: hidden;
      }
    }
  }
  &-item {
    position: absolute;
    color: $portfolioHoverBg;
    font-size: 18px;
    line-height: 100%;
    max-width: 300px;
    text-align: center;
    @media screen and (max-width: 1023px) {
      & {
        position: static;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 20px;
        flex-direction: column;
      }
    }
    &__fio {
      font-weight: bold;
      font-size: 20px;
      margin-bottom: 15px;
    }
    &__pos {
      font-size: 16px;
      max-width: 205px;
    }
    &-team1 {
      left: 20%;
      top: 35%;
      @media screen and (max-width: 1366px) {
        & {
          left: 10%;
        }
      }
      @media screen and (max-width: 1023px) {
        & {
          left: 2% !important;
        }
      }
    }
    &-team2 {
      left: 35%;
      top: 38%;
      @media screen and (max-width: 1366px) {
        & {
          left: 30%;
        }
      }
    }
    &-team3 {
      left: 49%;
      top: 34%;
    }
    &-team4 {
      left: 63%;
      top: 40%;
      @media screen and (max-width: 1366px) {
        & {
          right: 5%;
        }
      }

    }
    &-team5 {
      left: 22%;
      top: 69%;
      @media screen and (max-width: 1366px) {
        & {
          left: 5%;
        }
      }
    }
    &-team6 {
      left: 35%;
      top: 71%;
      @media screen and (max-width: 1366px) {
        & {
          left: 25%;
        }
      }
    }
    &-team7 {
      left: 49%;
      top: 66%;
      @media screen and (max-width: 1366px) {
        & {
          left: 45%;
        }
      }
    }
    &-team8 {
      left: 62%;
      top: 72%;
      @media screen and (max-width: 1366px) {
        & {
          right: 5%;
          top: 65%;
        }
      }
    }
    &__img {
      width: 176px;
      height: 176px;
      border-radius: 50%;
      border: 2px solid $portfolioHoverBg;
      overflow: hidden;
      margin: 0 auto 20px;
      &_team1 {
        background: url(../img/seo2.jpg);
      }
      &_team2 {
        background: url(../img/team1.jpg);
      }
      &_team3 {
        background: url(../img/team2.jpg);
      }
      &_team4 {
        background: url(../img/team3.jpg);
      }
      &_team5 {
        background: url(../img/team4.jpg);
      }
      &_team6 {
        background: url(../img/team5.jpg);
      }
      &_team7 {
        background: url(../img/team6.jpg);
      }
      &_team8 {
        background: url(../img/team7.jpg);
      }
    }
  }
}
