@import "_reset";
@import "_container";
@import "_vars";
@import "_button";
@import "_header";
@import "_fonts";
@import "_title";
@import "_banner";
@import "_about";
@import "_service";
@import "_portfolio";
@import "_price";
@import "_team";
@import "_partner";
@import "_review";
@import "_project";
@import "_form";
@import "_footer";
@import "_popup";
@import url('../../../node_modules/font-awesome/css/font-awesome.min.css');

body {
  font-size: 14px;
  color: $mainColor;
  font-family: 'PT Sans Caption',sans-serif;
}
